<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-QE9S1J969N"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-QE9S1J969N');
		  {% if test_var %}
			console.log('{{ test_var }}')
		  {% endif %}
		</script>
	</head>
	<body>
		<script>
			location.replace("viber://pa?chatURI=kzrviberbot")
		</script>
	<h1>Links Page!</h1>
	location.replace("https://www.youtube.com")
	</body>
</html>